.custom-carousel {
    max-width: 1000px;  /* Set your desired maximum width */
    max-height: 500px; /* Set your desired maximum height */
    margin: auto;      /* Center the carousel horizontally */
  }