<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>1010 Avenue, sw 54321, chandigarh</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+91 7219795742</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>mail&#64;info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Embark on your next adventure with the convenience and flexibility of our premium car and bike rentals! Whether you're planning a weekend getaway, a road trip with friends, or simply need a reliable mode of transportation, we've got you covered.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="https://www.instagram.com/royalrentals_swami/?hl=en"><img src="../../assets/instagram-icon.svg"/></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <!-- <li><a href="#">about</a></li> -->
                            <!-- <li><a href="#">services</a></li> -->
                            <!-- <li><a href="#">portfolio</a></li>
                            <li><a href="#">Contact</a></li> -->
                            <!-- <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Latest News</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Why Choose Us?</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Wide Selection: From sleek sedans to rugged SUVs, and from powerful motorcycles to nimble scooters, we offer a diverse range of vehicles to suit every need and preference.</p>

                            <p>    Quality and Safety: Your safety is our top priority. All our vehicles undergo regular maintenance checks and are thoroughly inspected before each rental.</p>
                                
                            <p>    Affordable Rates: We believe that exploring should be accessible to everyone. That's why we offer competitive rates and flexible rental options to fit any budget.</p>
                                
                            <p>    Convenient Booking: Booking with us is quick and hassle-free. Simply Fill Form or call us direclty, and you're good to go!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">Anup</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</footer>