<div class="w-100" style="background-color: #EDF2F8; height: 135%;">
  <h2 class="card-1">Just Pick & Go</h2>
  <!-- <div class="card-container d-flex flex-column">
    <div class="card-1 align-content-center d-flex justify-content-between my-2">
        <mat-card class="example-card">
            <img mat-card-image src="../../assets/bullet360.png"
                alt="Photo of a Shiba Inu">
            <mat-card-content class="card-content">
                <h2 class="card-title">Kawasaki Ninja ZX-10R</h2>
                <h3>₹400/day</h3>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content class="card-content">
                <h2 class="card-title">Kawasaki Ninja ZX-10R</h2>
                <h4>400/day</h4>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content class="card-content">
                <h2 class="card-title">Kawasaki Ninja ZX-10R</h2>
                <h4>400/day</h4>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content class="card-content">
                <h2 class="card-title">Kawasaki Ninja ZX-10R</h2>
                <h4>400/day</h4>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="card-1 align-content-center d-flex justify-content-between my-2">
        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content class="card-content">
                <h2 class="card-title">Kawasaki Ninja ZX-10R</h2>
                <h4>400/day</h4>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content class="card-content">
                <h2 class="card-title">Kawasaki Ninja ZX-10R</h2>
                <h4>400/day</h4>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content class="card-content">
                <h2 class="card-title">Kawasaki Ninja ZX-10R</h2>
                <h4>400/day</h4>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content class="card-content">
                <h2 class="card-title">Kawasaki Ninja ZX-10R</h2>
                <h4>400/day</h4>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->

  <ul class="cards p-5 w-100 h-100">
    <li>
      <a href="" class="card">
        <img src="../../assets/swift-red.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <h2 class="card__title">Swift</h2>
              <span class="card__status">1 hour ago</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?
          </p>
        </div>
      </a>
    </li>
    <li>
      <a href="" class="card">
        <img src="../../assets/maruti-baleno.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <h2 class="card__title">Baleno</h2>
              <span class="card__status">3 hours ago</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?
          </p>
        </div>
      </a>
    </li>
    <li>
      <a href="" class="card">
        <img src="../../assets/activa6g.jpeg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <h2 class="card__title">Activa 6G</h2>
              <div class="card__status">3 hours ago</div>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?
          </p>
        </div>
      </a>
    </li>
    <li>
      <a href="" class="card">
        <img src="../../assets/re6.webp" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <h2 class="card__title">Royal Enfield Thunderbird</h2>
              <span class="card__status">3 hours ago</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?
          </p>
        </div>
      </a>
    </li>

    <li>
      <a href="" class="card">
        <img src="../../assets/yamaha-fzs.webp" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <h2 class="card__title">Yamaha FZS</h2>
              <span class="card__status">3 hours ago</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?
          </p>
        </div>
      </a>
    </li>

    <li>
      <a href="" class="card">
        <img src="../../assets/pleasure.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <h2 class="card__title">Hero Pleasure</h2>
              <span class="card__status">3 hours ago</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?
          </p>
        </div>
      </a>
    </li>

    <!-- <li>
      <a href="" class="card">
        <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
            <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Jessica Parker</h3>
              <span class="card__tagline">Lorem ipsum dolor sit amet consectetur</span>            
              <span class="card__status">1 hour ago</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
    </li> -->
    <li>
      <a href="" class="card">
        <img src="../../assets/jupiter.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <h2 class="card__title">TVS Jupiter</h2>
              <span class="card__status">3 hours ago</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?
          </p>
        </div>
      </a>
    </li>

    <li>
      <a href="" class="card">
        <img src="../../assets/bullet360.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <h2 class="card__title">Royal Enfield Classic</h2>
              <span class="card__status">3 hours ago</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?
          </p>
        </div>
      </a>
    </li>

    <li>
      <a href="" class="card">
        <img src="../../assets/hornet.webp" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <h2 class="card__title">Honda Hornet</h2>
              <span class="card__status">3 hours ago</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>